doctype html
include _variables.pug  
html(lang=lang)
    head
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")
        title #{title}
        meta(content="index,follow,snippet,archive" name="robots")
        meta(content=metaDescription name="description")
        meta(content=metaKeywords lang="cs" name="keywords")
        meta(content=metaAuthor name="author")

        link(rel="canonical" href=metaURL)
        meta(property="og:locale" content="cs_CZ")
        meta(property="og:type" content="website")
        meta(property="og:title" content=title)
        meta(property="og:description" content=metaDescription)
        meta(property="og:url" content=metaURL)
        meta(property="og:site_name" content=metaSitename)
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content=metaTwitterName)
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=metaDescription)
        meta(name="twitter:image" content=metaTwitterImg)
        include _css-include.pug  
    body
        include _nav.pug
        section.hero(id="anchor-hero")
            .container.hero__container
                .row
                    .col-12.col-md-6
                        h1.hero__title Děláme investování jinak. #[strong Férově a transparentně]
                        p.hero__text Alternativní investiční fond je speciální investiční fond spravující majetek klientů za účelem investování.
                        .hero__buttons
                            a.btn.-dark(href="#") Nabídka služeb #[span.arrow-icon.white.btn__icon]
                            a.btn.-ghost(href="#") Kontakty
                    .col-12.col-md-6
                        .hero__imgWrap
                            img.hero__img(src=URLbase+"img/hero-intro.jpg")

        section.introduction
            .container
                h1.introduction__title O nás
                .row
                    .col-12.col-md-6

                        p.introduction__text Náš obchodní příběh začal již před více než patnácti lety, kdy jsme nezávisle na sobě začali každý z našeho teamu obchodovat na finančních trzích. Po jistém čase jsme vycítili potřebu spojit naše osobní zkušenosti a hodnoty v péči o kapitál a klienta a rozhodli jsme se, že vytvoříme Alternativní investiční fond. 
                        p.introduction__text Náš fond si zakládá na osobních vztazích s klienty, na obrovské míře odpovědnosti a spolehlivosti při správě kapitálu. 
                        p.introduction__text Jsme profesionálové ve svém oboru a naše historické výnosy a zkušenosti přináší naším klientům permanentně zisky. 
                    
                    .col-12.col-md-1

                    .col-12.col-md-5
                        h3.introduction__subTitle Pár důvodů, proč využít našich služeb
                        ul.introduction__list
                            li.introduction__listItem Více než 15 let zkušeností
                            li.introduction__listItem Individuální přístup a pomoc
                            li.introduction__listItem Finance 24 hodin pod kontrolou
                            li.introduction__listItem Investování jinak - férově a transparentně
                            li.introduction__listItem Zkušenost s českým i zahraničním prostředím
                            li.introduction__listItem Spolupracujeme se Swissquote

        section.ourTeam
            .container
                .row
                    .col-12.col-sm-1
                    .col-12.col-sm-5
                        .ourTeam__imgWrap
                            img.ourTeam__img(src=URLbase+"img/team1.jpg")
                    .col-12.col-sm-1
                    .col-12.col-sm-5
                        h4.ourTeam__subTitle Poznejte náš tým
                        h1.ourTeam__title Mgr.Ing.Milan Koštůr,LL.M. 
                        p.ourTeam__text Působil skoro celou svou dosavadní profesní kariéru v oblasti kapitálových trhů se zaměřením na asset management a to jak v rámci České republiky, tak oblasti evropských hedgeových fondů. 
                        .ourTeam__buttons
                            a.btn.-dark.ourTeam__btn(href="#") Více informací #[span.arrow-icon.white.btn__icon]
                            a.btn.-ghost(href="#") Další členové
               



        include _footer.pug

        include _js-include.pug
        