doctype html
include _variables.pug  
html(lang=lang)
    head
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")
        title #{title}
        meta(content="index,follow,snippet,archive" name="robots")
        meta(content=metaDescription name="description")
        meta(content=metaKeywords lang="cs" name="keywords")
        meta(content=metaAuthor name="author")

        link(rel="canonical" href=metaURL)
        meta(property="og:locale" content="cs_CZ")
        meta(property="og:type" content="website")
        meta(property="og:title" content=title)
        meta(property="og:description" content=metaDescription)
        meta(property="og:url" content=metaURL)
        meta(property="og:site_name" content=metaSitename)
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content=metaTwitterName)
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=metaDescription)
        meta(name="twitter:image" content=metaTwitterImg)
        include _css-include.pug  
    body
        include _nav.pug
        section.heading
            h1.heading__title Kontakty
            .heading__symbols


        main
            .container
                article
                    .row
                        .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                            h4 Sídlo společnosti:
                            strong Antonína Macka 912/4
                            p Moravská Ostrava
                            p 702 00 Ostrava

                            br

                            p +420 603585544
                            p kostur.kbpartners@gmail.com
                            p info.kbpartnersfond@gmail.com

  
                        .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6

                            h4 Kontaktní adresa
                            strong Solná 1472/5
                            p Moravská Ostrava
                            p 702 00 Ostrava 

                            br


                            h4 Kancelář
                            strong Ovocný trh 572/11
                            p 110 00 Praha 1
                            br

                        .col-12.col-sm-12
                            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.2866336200946!2d18.29229389003507!3d49.83707154213241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4713e3302bd07439%3A0x97ea17f4dea8c25f!2sAnton%C3%ADna%20Macka%20912%2C%20702%2000%20Moravsk%C3%A1%20Ostrava%20a%20P%C5%99%C3%ADvoz!5e0!3m2!1scs!2scz!4v1580998802483!5m2!1scs!2scz" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen)


        include _footer.pug

        include _js-include.pug
        