doctype html
include _variables.pug  
html(lang=lang)
    head
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")
        title #{title}
        meta(content="index,follow,snippet,archive" name="robots")
        meta(content=metaDescription name="description")
        meta(content=metaKeywords lang="cs" name="keywords")
        meta(content=metaAuthor name="author")

        link(rel="canonical" href=metaURL)
        meta(property="og:locale" content="cs_CZ")
        meta(property="og:type" content="website")
        meta(property="og:title" content=title)
        meta(property="og:description" content=metaDescription)
        meta(property="og:url" content=metaURL)
        meta(property="og:site_name" content=metaSitename)
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content=metaTwitterName)
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=metaDescription)
        meta(name="twitter:image" content=metaTwitterImg)
        include _css-include.pug  
    body
        include _nav.pug
        section.heading
            h1.heading__title Investiční přístup

        main
            .container
                article.post.--narrow
                    p Náš obchodní příběh začal již před více než patnácti lety, kdy jsme nezávisle na sobě začali každý z našeho teamu obchodovat na finančních trzích. Po jistém čase jsme vycítili potřebu spojit naše osobní zkušenosti a hodnoty v péči o kapitál a klienta a rozhodli jsme se, že vytvoříme Alternativní investiční fond. Náš fond si zakládá na osobních vztazích s klienty, na obrovské míře odpovědnosti a spolehlivosti při správě kapitálu.
                    q Jsme profesionálové ve svém oboru a naše historické výnosy a zkušenosti přináší naším klientům permanentně zisky. 
                    p Náš vrcholový management definuje celkovou strategii v rámci našich investičních a klíčových infrastrukturních aktivit. Zaměřuje se na orientaci v náročných, složitých a neustále se měnících prostředích, v nichž působíme, alokuje kapitál a riziko mezi strategie zajišťující dlouhodobou hodnotu pro naše investory a naši globální expanzi jako alternativní platformu investičních fondů.
        section.ourTeam
            .container
                .row
                    .col-12.col-sm-1
                    .col-12.col-sm-5
                        .ourTeam__imgWrap
                            img.ourTeam__img(src=URLbase+"img/team1.jpg")
                    .col-12.col-sm-1
                    .col-12.col-sm-5
                        h4.ourTeam__subTitle Poznejte náš tým
                        h1.ourTeam__title Mgr.Ing.Milan Koštůr,LL.M. 
                        p.ourTeam__text Působil skoro celou svou dosavadní profesní kariéru v oblasti kapitálových trhů se zaměřením na asset management a to jak v rámci České republiky, tak oblasti evropských hedgeových fondů. 
                        .ourTeam__buttons
                            a.btn.-dark.ourTeam__btn(href="#") Více informací #[span.arrow-icon.white.btn__icon]
                            a.btn.-ghost(href="#") Další členové
               


        include _footer.pug

        include _js-include.pug
        